<!-- Author: Shubham Bhagwansing Rajput -->
<!-- HTML -->

body{
    background-color: white;
}

.gif-main{
    margin-top: 220px;
    margin-bottom: 20px;
    margin-left: 450px;
    margin-right: 20px;
}
