<!-- Author: Shubham Bhagwansing Rajput -->
<!-- HTML -->

body{
    background-color: white;
}

.gif-main{
    margin-top: 220px;
    margin-bottom: 20px;
    margin-left: 450px;
    margin-right: 20px;
}

.form-container{
    margin-top: 50px;
    margin-left: 300px;
    padding-left: 150px;
    padding-right: 100px;
    background-color:white;
    height: 550px;
    width: 550px;
}

h1{
    padding-top: 20px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

label {
    font-family: 'Times New Roman', Times, serif;
    float: left;
    width: 150px;
    padding-right: 24px;
}

input[type=submit],input[type=reset] {
    margin-left: 50px;
    margin-top: 40px;
    padding:5px 15px; 
    color: white;
    background:#120738; 
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
   
}
