<!-- Author: Shubham Bhagwansing Rajput -->
<!-- HTML -->

body{
    background-color: white;
}

.gif-main{
    margin-top: 220px;
    margin-bottom: 20px;
    margin-left: 450px;
    margin-right: 20px;
}

.form-container{
    margin-top: 50px;
    margin-left: 300px;
    padding-left: 150px;
    padding-right: 100px;
    background-color:white;
    height: 550px;
    width: 550px;
}

